<!---Liste des tablettes -->

<div class="d-flex justify-content-center" style="margin-top: 2%;">
    <div class="container">

        <div class="d-grid gap-2 d-md-flex justify-content-center">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"> <input class="form-check-input me-1 " type="checkbox" (click)='toggle(this)' id="selectall" /></th>
                        <th scope="col">Nom d'appareil</th>
                        <th scope="col">Identificateur</th>
                        <th scope="col">Niveau de batterie</th>
                        <th scope="col">Connexion wifi</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let device of devices">
                        <td><input class="form-check-input me-1 " name="tablette" value="{{device}}" (click)='deviceSelection(this)' type="checkbox"></td>
                        <th>{{this.deviceNames[device]}}</th>
                        <td>{{device}}</td>
                        <td>{{this.batteryLevels[device]}} %</td>
                        <td>
                            <div *ngIf="this.wifiConnections[device]!=='none' ; then hasWifi else noWifi "></div>
                            <ng-template #hasWifi>{{wifiConnections[device]}}</ng-template>
                            <ng-template #noWifi>Not connected</ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>